@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quoteContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 400px;
  background-color: gainsboro;
  text-align: center;
  border-radius: 20px;
  padding: 50px;
  font-family: Montserrat;
}
#getNewQuote{
  padding: 10px;
  border: none;
  background-color: aquamarine;
  font-family: Montserrat;
}
#getNewQuote:hover{
  background-color: aqua;
 cursor: pointer;
}